.profile-container {
    margin-top: 5px;
    width: 210px;
    height: 80px;
  }

.profile-container h5 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(43, 39, 39);
}
.profile-container p {
    margin-top: -6px;
    font-size: 12px;
    text-align: center;
    color: grey;
}

.profile-container .email {
    margin-top: -16px;
    font-size: 14px;
    color: #00aaff;
}